.affixIcon {
  cursor: pointer;
  margin: var(--mantine-spacing-md);
  z-index: 9999 !important;
  position: relative;
}

.minimizeIcon {
  cursor: pointer;
  z-index: 9999 !important;
  position: relative;
}

.chatDialog {
  z-index: 9999 !important;
  position: relative;
}

.wrapper {
  outline: 0px solid var(--mantine-color-blue-filled);
  border-color: transparent;
}

.input {
  font-size: 4px;
  color: red;
}